module.popup {
    .no-drag();
    box-shadow: 0 0 15px 5px black;
    display: flex;
    flex-direction: column;

    transition: opacity 100ms;

    > .header {
        background: @foregroundcolor;
        display: flex;
        align-items: center;

        > .title {
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    > container {
        background: @backgroundcolor;
    }
}