module.landing {
    display: flex;
    background: @backgroundcolor;
    
    > .center {
        .flex-padd();
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        > .background {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        
        > .header {
            .drag();
            flex: 0 0 auto;
            padding: 20px;
            display: flex;
            z-index: 2;
        
            > .tab-button {
                .no-drag();
                .no-select();
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 10px;
                width: 100px;
                cursor: pointer;
                opacity: .5;
                transition-property: opacity;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                font-weight: bold;
                
                &:hover, &.active {
                    opacity: 1;
                }
            }

            > .alerts-profile {
                .no-drag();
                .no-select();
                
                display: flex;
                align-items: center;
                -webkit-filter: drop-shadow(0 0 10px black);
                transition: all 200ms;
                cursor: pointer;
                
                &:hover {
                    background: fade(@backgroundcolor, 80%);
                }
                
                .balance {
                    margin: 0 10px;
                    min-width: 80px;
                    
                    > img {
                        width: 20px;
                        vertical-align: bottom;
                        margin-right: 5px;
                    }
                }
            }
        }
        
        > .center {
            .flex-padd();
            z-index: 1;
            
            @tabcount: 5;

            width: (@tabcount * 100%);
            display: flex;
            position: relative;
            transition: opacity 150ms ease-in-out;

            &.faded {
                opacity: 0;
            }
            
            > * {
                flex: 0 0 1000px;
                width: 1000px;
            }

            > container > module {
                overflow: hidden;
                margin-top: -@mainHeaderSize;
                padding-top: @mainHeaderSize;
            }

            > .content  > module {
                transition-property: opacity, transform;
                transition-duration: 150ms;
            
                text-shadow: 0 0 15px black;

                button {
                    .drop-shadow();
                }
            }

            > .home {
                -webkit-filter: drop-shadow(0 0 10px);
                display: flex;
                
                > .left {
                    .flex-padd();
                    display: flex;
                    flex-direction: column;
                }
                
                > .right {
                    flex: 2 2;
                    display: flex;
                    flex-direction: column;
                }
                
                .invite-list {
                    .flex-padd();
                    display: flex;
                    flex-direction: column-reverse;
                    padding: 10px;
                }
            }
        }
    }
    
    > .right {
        .drop-shadow(10px);
        background: @backgroundcolor;
        z-index: 99;
        width: 280px;
    }
    
    .background > img {
        left: -370px;
        position: relative;
        height: 115%;
        transform: rotateY(180deg);
    }

    .play-button {
        .no-drag();
        border: 2px solid gray;
        width: 120px;
        height: 35px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-property: border, box-shadow;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        font-weight: bold;
        font-size: 18px;
        
        &:hover {
            .drop-shadow(10px; #0ED3F7);
            border-color: #0ED3F7;
        }
    }
    
    .shop-frame {
        width: 1280px;
        transform: scale((1000 / 1280));
        transform-origin: 0 0;
        height: 825px;
        border: 0;
    }
}
