#ingame {
    display: flex;

    > .page {
        .flex-padd();
        display: flex;
        flex-direction: column;
    }
    
    > .waiting-page {
        align-items: center;
        justify-content: center;
        padding-bottom: @mainHeaderSize;

        .label {
            font-size: 60px;
        }
    }

    > .post-page {

        > .chat-area {
            margin: 10px;
        }
    }
}