#ingame {

    > .page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    > .waiting-page {
        padding-bottom: @mainHeaderSize;

        .label {
            font-size: 60px;
        }
    }
}