module.masteries-page {
    display: flex;
    padding: 0 5px;
        
    #delete-masteries {
        opacity: 0;
    }

    button {
        .drop-shadow();
    }
    
    > .left {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        
        > #mastery-page-list {
            margin-bottom: 10px;
            
            > .mastery-page {
                .no-select();
                background: #646469;
                padding: 4px 4px;
                text-align: center;
                cursor: pointer;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: bold;
                
                &.active {
                    .drop-shadow(10px; orange);
                }
            }
        }
        
        > .button-group {
            display: flex;
            justify-content: center;
            margin: 0 -4px;
            
            > button {
                width: 100px;
                margin: 4px;
            }
        }
    }
        
    > .body {
        .flex-padd();
        display: flex;
        align-items: stretch;
        
        > .mastery-tree {
            .flex-padd();
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            
            > .mastery-row {
                display: flex;
                justify-content: space-between;
                
                &.single {
                    justify-content: center;
                }
            }
        }
    }

    .mastery-icon {
        .no-select();
        cursor: default;
        width: 60px;
        height: 60px;
        position: relative;
        margin: 5px;
        
        &.blank {
            opacity: 0;
        }
        
        > .mastery-icon-points {
            .drop-shadow(10px);
            position: absolute;
            right: -5px;
            bottom: -5px;
            background: rgb(100, 100, 105);
            padding: 0px 3px;
        }
        
        &.single, &.blank {
            > .mastery-icon-points {
                display: none;
            }
        }

        > img {
            .drop-shadow(10px);
            border: 2px solid @backgroundcolor;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        
        &.active {
            > .mastery-icon-points {
                .drop-shadow(10px; orange);
            }
            > img {
                .drop-shadow(10px; orange);
                border-color: orange;
            }
        }
    }
}

module.masteries-tooltip {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;

    > .title {
        font-weight: bold;
        font-size: 18px;
    }
    
    > .description {
        font-size: 16px;
    }
}